<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.invitation.api.dao.TestDao">

    <select id="selectESFRSLN" resultType="com.example.invitation.api.vo.ESFRSLN">
        select * from WITHUS.ESFRSLN
    </select>


    <select id="getColumnNameDataType" resultType="com.example.invitation.api.vo.ColumnMetadata">
        SELECT COLUMN_NAME, DATA_TYPE_NAME
        FROM SYS.TABLE_COLUMNS
        WHERE SCHEMA_NAME = #{schema} AND TABLE_NAME = #{tableName}
        ORDER BY  "POSITION"  asc;
    </select>

    <select id="getRowCountBySchemaTblName" resultType="int">
        select count(1) from ${schema_tableName}
    </select>

    <update id="truncateTableBySchemaTblName" >
        TRUNCATE TABLE ${schema_tableName}
    </update>

    <insert id="insertBatchLog" parameterType="com.example.invitation.api.vo.BatchMetaData" >
        INSERT INTO WITHUS.AA_BATCH_LOG
        (table_name
        ,result_txt
        ,fail_reason
        ,tbl_row_cnt
        ,csv_row_cnt )
        VALUES
        ( #{table_name}
        , #{result_txt}
        , #{fail_reason}
        , #{tbl_row_cnt}
        , #{csv_row_cnt}
        )
    </insert>


    <update id="updateBatchLog" parameterType="com.example.invitation.api.vo.BatchMetaData">
        update WITHUS.AA_BATCH_LOG

        set

        tbl_row_cnt = #{tbl_row_cnt}
        , csv_row_cnt = #{csv_row_cnt}

        where

        table_name = #{table_name}
    </update>

</mapper>